# Node
node_modules/
dist/

# .NET
bin/
obj/
publish/
app.zip

# Environment
.env
.env.*
appsettings.Development.json

# Logs
logs/
logs.zip

# Claude
.claude/

# Visual Studio local files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates